/* main color accents
main background #ffffff
iris primary brand            #4D5AE5
navy blue headings            #2E2F42
slate body text               #434455
cornflower lght accent color  #E7E9FC
light slate helper text       #8E8F99
 */
:root {
  --navigation-list-color: #2e2f42;
  --benefits-title-color: #2e2f42;
  --accent-colr: #4d5ae5;
  --text-color: #434455;
  --section-title-color: #2e2f42;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* --------------GLOBAL STYLES------------- */
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  border: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

/* --------------HEADER------------- */
.logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.logo-accent {
  color: var(--accent-colr);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-navigation {
  display: flex;
}

.header-navigation .logo {
  margin-right: 76px;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 27px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navigation-list-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-link:active {
  color: var(--accent-colr);
}

.header-item {
  position: relative;
}

.active-link::after {
  content: "";

  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  top: 48px;
  background: #404bbf;
  border-radius: 2px;
  transform: translateY(24px);
}

.active-link {
  color: #404bbf;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-colr);
}

/* --------------HERO------------- */
.hero {
  background-color: #2e2f42;
}

.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;

  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 48px;
}

.hero-btn,
.modal-btn {
  background-color: var(--accent-colr);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* --------------SECTIONS PADDINGS------------- */
/* .section {
padding-top: 120px;
padding-bottom: 120px;
} */

/* --------------BENEFITS------------- */
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list-icon {
  display: flex;
  gap: 24px;
}

.benefits-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  width: 264px;
  background: #f4f4fd;
  border-radius: 4px;
}

.benefits-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--benefits-title-color);
  margin-bottom: 8px;
  margin-top: 8px;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  height: 112px;
  width: 264px;
}

/* --------------JOB------------- */
.job-title,
.team-title,
.customers-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-title-color);
}

.job {
  padding-bottom: 120px;
}
.job-title {
  margin-bottom: 72px;
}

.job-list {
  display: flex;
  gap: 24px;
}

.job-item {
  width: calc((100% -48px) / 3);
}

/* --------------TEAM------------- */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 72px) / 4);

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-members {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--benefits-title-color);
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);

  margin-bottom: 8px;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.soc-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #4d5ae5;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #f4f4fd;
}

.soc-link:focus,
.soc-link:hover {
  background-color: #404bbf;
}

/* --------------CUSTOMERS---------- */
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customer-item {
  width: 168px;
  height: 88px;
}

.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:focus,
.customer-link:hover {
  border-color: #404bbf;
}

.customer-link:focus .customer-icon,
.customer-link:hover .customer-icon {
  border-color: #404bbf;
  fill: #404bbf;
}

/* --------------FOOTER------------- */
.footer-flex {
  display: flex;
  gap: 120px;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  max-width: 264px;
}

.footer-text-soc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.1);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-link:hover,
.footer-link:focus {
  background: #31d0aa;
}

.main-footer-flex {
  display: flex;
  gap: 80px;
}

.subscribe-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-wrap {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.icon-subscribe {
  fill: #ffffff;
}

/* --------------PORTFOLIO------------- */

/* --------------FILTER BUTTONS------------- */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-btn {
  display: flex;
  padding: 0px;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-btn-item {
  background-color: #f4f4fd;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-colr);
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 4;
  flex-grow: 0;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
  background-color: var(--accent-colr);
  color: #ffffff;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--accent-colr);
}

/* --------------PROJECTS------------- */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 24px * 2) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:focus,
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--benefits-title-color);
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.portfolio-names {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border: 1px solid #e7e9fc;
  border-top: none;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;

  padding: 32px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(100%);
}

.portfolio-item:hover .overlay {
  transform: translatey(0);
}

/* --------------MODAL------------- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 100;
  opacity: 1;

  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 576px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  display: block;
  margin-left: auto;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:focus,
.btn-close:hover {
  background: #404bbf;
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 14px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 19px;
  top: 45%;
  transform: translateY(-50%);

  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 8px;
  padding-left: 38px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: rgba(117, 117, 117, 0.5);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-imput:focus,
.modal-input:active,
.modal-input:focus-visible {
  border: 1px solid #4d5ae5;
  outline: none;
}

.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon,
.modal-input:active + .input-icon,
.modal-input:focus-visible + .input-icon {
  fill: #4d5ae5;
}

.modal-input-comment {
  width: 100%;
  height: 120px;
  resize: none;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);

  padding: 8px 16px;
  margin-bottom: 16px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-comment:hover,
.modal-imput-comment:focus,
.modal-input-comment:active,
.modal-input-comment:focus-visible {
  border: 1px solid #4d5ae5;
  outline: none;
}

.modal-input-comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.label-text {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.01em;

  color: #8e8f99;
  margin-bottom: 4px;
}

.check-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: #757575;
}

.modal-btn {
  display: block;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  text-align: center;
  margin-top: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
